@using System.Security.Claims

@if (User.Identity != null && User.Identity.IsAuthenticated)
{
    var role = User.FindFirst(ClaimTypes.Role)?.Value;

    if (role == "Student" || role == "Teacher")
    {
        var controllerName = role == "Student" ? "Student" : "Teacher";

        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="@controllerName" asp-action="Profile">
                @User.Identity.Name
            </a>
        </li>
    }

    <li class="nav-item">
        <form class="form-inline" asp-controller="Account" asp-action="Logout" method="post">
            <button type="submit" class="nav-link btn btn-link text-dark">登出</button>
        </form>
    </li>
}
